@model EugenieWeb.Web.Areas.Management.ViewModels.Stores.AddStoreViewModel
@{
    ViewBag.Title = "Добави магазин";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            @ViewBag.Title
        </div>
    </div>
    <div class="panel-body">
        @using (Html.BeginForm("AddStore", "Stores", FormMethod.Post, new { @class = "p-t-15", role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })

            @Html.EditorFor(m => m)
            <button class="btn btn-primary btn-cons m-t-10" type="submit">Добави</button>
        }
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/bundles/jqueryval");
}