@using EugenieWeb.Common
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("kendoui", required: false)
</head>
<body class="fixed-header windows desktop pace-done sidebar-visible menu-pin">
    <nav class="page-sidebar" data-pages="sidebar" style="transform: translate(210px, 0px)">
        <div class="sidebar-header">
            <img src="~/Content/Images/logo_white.png" alt="logo" class="brand" width="78" height="22">
        </div>
        <div class="sidebar-menu">
            <ul class="menu-items">
                @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
                {
                    if ((string) HttpContext.Current.Request.RequestContext.RouteData.DataTokens["area"] == "Administration")
                    {
                        @Html.Partial("/Areas/Administration/Views/Shared/SidebarMenuPartial.cshtml")
                    }
                    else
                    {
                        @Html.Partial("/Areas/Management/Views/Shared/SidebarMenuPartial.cshtml")
                    }
                }
                else
                {
                    @Html.Partial("/Areas/Management/Views/Shared/SidebarMenuPartial.cshtml")
                }
            </ul>
            <div class="clearfix"></div>
        </div>
    </nav>
    <div class="page-container">
        <div class="header">
            <div class="container-fluid relative">
                <div class="pull-left full-height visible-sm visible-xs">
                    <div class="header-inner">
                        <a href="#" class="btn-link toggle-sidebar visible-sm-inline-block visible-xs-inline-block padding-5" data-toggle="sidebar">
                            <span class="icon-set menu-hambuger"></span>
                        </a>
                    </div>
                </div>
                <div class="pull-center hidden-md hidden-lg">
                    <div class="header-inner">
                        <div class="brand inline">
                            <img src="assets/img/logo.png" alt="logo" data-src="assets/img/logo.png" data-src-retina="assets/img/logo_2x.png" width="78" height="22">
                        </div>
                    </div>
                </div>
                <div class="pull-right full-height visible-sm visible-xs">

                    <div class="header-inner">
                        <a href="#" class="btn-link visible-sm-inline-block visible-xs-inline-block" data-toggle="quickview" data-toggle-element="#quickview">
                            <span class="icon-set menu-hambuger-plus"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-content-wrapper content-builder active full-height" id="plainContent">

            <div class="content">
                <div class="container-fluid container-fixed-lg">
                    @RenderBody()
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/landing/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jquery-scrollbar")
    @Scripts.Render("~/bundles/pages")
    @RenderSection("scripts", required: false)
</body>
</html>
