<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
</head>
<body class="fixed-header ">
    <div class="login-wrapper ">
        <div class="bg-pic">
            <img src="../../Content/Login/Images/new-york-city-buildings-sunrise-morning-hd-wallpaper.jpg" alt="" class="lazy">
        </div>

        <div class="login-container bg-white">
            <div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">
                <img src="assets/img/logo.png" alt="logo" data-src="assets/img/logo.png" data-src-retina="assets/img/logo_2x.png" width="78" height="22">
                @RenderBody()
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/pace")
    @Scripts.Render("~/bundles/landing/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/pages")
</body>
</html>
