@model EugenieWeb.Web.ViewModels.Account.LoginViewModel
@{
    Layout = "~/Views/Account/_Layout.cshtml";
    ViewBag.Title = "Вход";
}
<h1>@ViewBag.Title</h1>
@using (Html.BeginForm("Login", "Account", new { ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "p-t-15", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "error" })
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group form-group-default">
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "error" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group form-group-default">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "error" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6 pull-right text-right">
            @Html.ActionLink("Регистрация", "Register", "Account", routeValues: new { area = string.Empty }, htmlAttributes: new { @class = "text-info small", id = "registerLink" })
        </div>
    </div>

    <input class="btn btn-primary btn-cons m-t-10" type="submit" value="Вход"/>
}