@model EugenieWeb.Web.ViewModels.Account.RegisterViewModel
@{
    Layout = "~/Views/Account/_Layout.cshtml";
    ViewBag.Title = "Регистрация";
}
<h1>@ViewBag.Title</h1>
@using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "p-t-15", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary("", new { @class = "text-danger" })

    <div class="row">
        <div class="col-sm-6">
            <div class="form-group form-group-default">
                @Html.LabelFor(m => m.FirstNname)
                @Html.TextBoxFor(m => m.FirstNname, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.FirstNname, "", new { @class = "error" })
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group form-group-default">
                @Html.LabelFor(m => m.LastName)
                @Html.TextBoxFor(m => m.LastName, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.LastName, "", new { @class = "error" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group form-group-default">
                @Html.LabelFor(m => m.Email)
                @Html.TextBoxFor(m => m.Email, "", new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "error" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group form-group-default">
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "error" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="form-group form-group-default">
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "error" })
            </div>
        </div>
    </div>

    <button class="btn btn-primary btn-cons m-t-10" type="submit">Регистрация</button>
}